* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  border: none;
}

body {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

button {
  cursor: pointer;
}

.visibility-hidden {
  position: absolute;
  left: -10000px;
}
